/* google font awsome */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #e5e5e5;
}
/* somthing styles for top banner */
.card-height {
  height: 400px;
  border-radius: 15px;
}
.card-three {
  background-color: #3f87f5;
  height: 415px;
  padding-bottom: 25px;
  border-radius: 15px;
  color: white;
}
.pepole-img {
  width: 80%;
}
/* footer and anchor styles */
a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: #000000;
}
/* a littlebit media queries into the external css */

/* media queries for mobile devices */
@media only screen and (max-width: 688px) {
  .media-qur,
  .media-qus {
    flex-wrap: wrap;
  }
}
